In [7]:
import pandas as pd
pred_test = pd.read_csv("test_results.tsv", sep='\t', header=None)

In [8]:
pred_test

             0         1
0     0.997388  0.002612
1     0.037271  0.962729
2     0.060670  0.939330
3     0.037477  0.962523
4     0.996535  0.003465
...        ...       ...
4184  0.997669  0.002331
4185  0.045364  0.954635
4186  0.997550  0.002450
4187  0.997683  0.002317
4188  0.062562  0.937438

[4189 rows x 2 columns]

In [9]:
submission_random = pd.DataFrame({})
submission_random['ID'] = range(len(pred_test))
submission_random['Prediction'] = pred_test.iloc[:,1]

In [10]:
submission_random

        ID  Prediction
0        0    0.002612
1        1    0.962729
2        2    0.939330
3        3    0.962523
4        4    0.003465
...    ...         ...
4184  4184    0.002331
4185  4185    0.954635
4186  4186    0.002450
4187  4187    0.002317
4188  4188    0.937438

[4189 rows x 2 columns]

In [11]:
submission_random.to_csv("submission_random.csv", index=False)